Source: ros-fuerte-ecto-openni
Section: misc
Priority: extra
Maintainer: Vincent Rabaud vrabaud@willowgarage.com, Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev, libopenni-dev, libusb-1.0-0-dev, ros-fuerte-catkin, ros-fuerte-ecto, ros-fuerte-opencv2
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-fuerte-ecto-openni
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libopenni-dev, libusb-1.0-0-dev, ros-fuerte-ecto, ros-fuerte-opencv2
Description: Ecto bindings for the openni sensor.
